<div class="ui link cards">
  <% @course.each do |course| %>
      <%	if course.xiao_course.id == @current_xiaocourse.id%>
          <div class="card">
            <a class="image" href="/coursewatch?course_now=<%= course.id %>">
              <img src=<%= course.imageurl %>>
            </a>
            <div class="content">
              <div class="header"><%= course.content %></div>
              <div class="meta">

              </div>
              <div class="description">

              </div>
            </div>
            <div class="extra content">

            </div>
          </div>
      <% end %>

  <% end %>
</div>