<div style="position: relative;padding-bottom: 56.25%;" >
  <video id="player" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" controls>
    <source src=<%=	@current_course.videourl %> type="video/mp4">
  </video>

</div>


<script>


  var isActive;

  window.onfocus = function () {
    isActive = true;
  };

  window.onblur = function () {
    isActive = false;
  };

  var count = 0;
  var countup = function(){

    if(!window.isActive ){
      count++;
    }else {
      count = 0;
    }

  };
  var id = setInterval(function(){
    countup();
    if(count > 0){
      clearInterval(id);
      document.location.href="/";
    }}, 300000);

//  var changeFocus = function () {
//      console.log(isActive);
//
//  };
//
//    setInterval(changeFocus,1000);
//

</script>