<footer class="footer">
  <small>
    <p>欢迎来到唯新学院网络课堂!</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   "#" %></li>
      <li><%= link_to "联系", '#' %></li>
      <li><a href="#">公告</a></li>
    </ul>
  </nav>
</footer>
